@media only screen and (max-width: 1177px){

    .navbar{
        background-color: #980412;
        height: 80px;
        box-shadow: 2px 2px 15px rgba(0, 0, 0, .42);
        align-items: center;
    }

    .navbar .menu {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 60px;
        background-color: #980412 ;
        height: 50vh;
        left: -1em;
        transform : translateY(-120%);
        transition: all .4s;
        
    }

    .navbar .menu-toggle {
        transform: translateY(0%);
    }

    .menu li {
        margin-top: 3em;
    }

    .navbar .menu-bar {
        display: flex;
        font-size: 2em;
        color : white;
        cursor: pointer;
    }

    /* MAIN SECTION */

    .main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        width: 100%;
        text-align: center;
        height: 70vh;
    }

    .main img {
        width: 28em;
    }
    
    .main h1 {
        margin-top: -80px;
    }

    .main .button-content {
        display: flex;
        flex-direction: column;
        margin: 30px ;
    }
    
  
}
